#Layout {
    box-shadow: rgb(0 0 0 / 60%) 0px 0px 20px 4px;
    width: 50%;
    padding: 14px;
    padding-bottom: 30px;
    border-radius: 2%;
    background: #00121e;
}
#RequirementName {
    margin-bottom: 4px;
    text-decoration: underline;
}
.RequirementsArea {
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
}
#RequirementDescription {
    flex-grow: 1;
    width: 75%;
}
.RequirementsList:after {
    content: "";
    display: table;
    clear: both;
}
.RequirementElement {
    display: flex;
    padding: 10px;
    margin-top: 15px;
    border: 2px solid #ADB6C4;
    border-radius: 6px 6px 6px 6px;
    height: fit-content;
}
.RequirementsList {
    width: 90%;
}
.DeleteButton {
    padding: 3px;
    width: 49px;
    min-height: 22px;
    border: none;
    border-radius: 6px 6px 6px 6px;
    background-color: rgb(169, 0, 0);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    text-align: center;
}
.DeleteButton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 rgb(221, 0, 0);
}
.DeleteButton:active {
    transform: scale(0.9);
}
.DeleteButtonArea {
    display: flex;
    justify-content: end;
}
.DetailButton {
    padding: 3px;
    width: 49px;
    min-height: 22px;
    border: none;
    border-radius: 6px 6px 6px 6px;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    text-align: center;
}
.DetailButton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #ADB6C4;
}
.DetailButton:active {
    transform: scale(0.9);
}
.ButtonArea {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#BackButtonArea {
    display: flex;
    justify-content: center;
}

#BackButton {
    width: 50px;
    min-height: 25px;
    border: none;
    border-radius: 6px 6px 6px 6px;
    background-color: rgb(255, 255, 255);
    color: #000;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    text-align: center;
}
#BackButton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #ADB6C4;
}
#BackButton:active {
    transform: scale(0.9);
}
#InfoMessage {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    color: yellow;
    margin-bottom: 12px;
    align-items: center;
}
#BorderAreaInfo {
    display: flex;
    border: 2px solid yellow;
    padding: 3px;
}
#IconArea {
    display: flex;
    padding-right:3px;
}
.DetailButtonArea {
    margin-right: 10px;
}