.RequirementsArea {
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
}
.RequirementsList:after {
    content: "";
    display: table;
    clear: both;
}
.RequirementElement {
    padding: 10px;
    margin-top: 15px;
    border: 2px dashed rgb(209, 209, 209);
    border-radius: 6px 6px 6px 6px;
    min-height: 81px;
}
.RequirementsList {
    width: 40%;
}
.DeleteButton {
    padding: 3px;
    width: 49px;
    min-height: 22px;
    border: none;
    border-radius: 6px 6px 6px 6px;
    background-color: rgb(151, 0, 0);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    text-align: center;
}
.DeleteButton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 rgb(221, 0, 0);
}
.DeleteButton:active {
    transform: scale(0.9);
}
.DeleteButtonArea {
    display: flex;
    justify-content: end;
}
.DetailButton {
    padding: 3px;
    width: 49px;
    min-height: 22px;
    border: none;
    border-radius: 6px 6px 6px 6px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    text-align: center;
}
.DetailButton:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 rgb(186, 186, 186);
}
.DetailButton:active {
    transform: scale(0.9);
}
.ButtonArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#RequirementName {
    padding-top: 10px;
}
#BackButtonArea {
    display: flex;
    justify-content: center;
}

#BackButton {
    width: 50px;
    min-height: 25px;
    border: none;
    border-radius: 6px 6px 6px 6px;
    background-color: rgb(125, 125, 125);
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    text-align: center;
}
#BackButton:hover {
    color: black;
    box-shadow: inset 0 -100px 0 0 rgb(255, 255, 255);
}
#BackButton:active {
    transform: scale(0.9);
}
#InfoMessage {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    color: yellow;
    margin-bottom: 12px;
    align-items: center;
}
#BorderAreaInfo {
    display: flex;
    border: 2px solid yellow;
    padding: 3px;
}
#IconArea {
    display: flex;
    padding-right:3px;
}