* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    font-weight: 500;
}

body {
    background-color: #233d40;
}

.header {
    font-size: x-large;
    box-shadow: rgb(0 0 0 / 60%) 0px 0px 20px 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    background-color: #233d40;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.logo {
    font-family: "poppins", sans-serif;
    font-size: 20;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 15px;
    color: white;
    background-color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}