{% extends "base.html" %}
{% load static %}

{% block title %}
Delete Conformation Page
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "GPTCommunication/delete_confirmation.css" %}">
{% endblock css_files %}

{% block content %}
<div id="Layout">
    <form method="post">
        {% csrf_token %}
        <h2>Are you sure you want to delete the requirement?</h2><br>
        <div id="ButtonArea">
            <button name="DeleteButton" class="DeleteButton" type="submit" onclick="location.href='{% url "ConfDelete" requirement.requirementID %}';">Delete</button>
            <button name="CancelButton" class="CancelButton" onclick="location.href='{% url "Requirements" %}';">Cancel</button>
        </div>
    </form>
</div>
{% endblock content %}

