{% extends "base.html" %}
{% load static %}

{% comment %} This is the template used for showing the user story details. {% endcomment %}

{% block title %}

{% endblock title %}

{% block css_files %}
 <link rel="stylesheet" href="{% static "GPTCommunication/detailed_requirement.css" %}">
{% endblock css_files %}

{% block content %}
<div id="Layout">
    <div id="BackButtonArea">
        <button id="BackButton"  onclick="location.href='{% url "Requirements"%}';">Back</button>
    </div>
    <div class="Content">
        <div class="UserStoryArea">
            <h1>{{requirement.requirementID.requirementID}}) {{ requirement.requirementID.requirementName }}</h1><br>
            <h2>Requirement Description:</h2>
            <p>{{ requirement.reqUserStory }}</p> <br>
            <h2>Acceptance Criteria:</h2>
            <p>{{ requirement.reqAcceptanceCriteria|linebreaksbr }}</p><br>
            <p id="RequirementIDText">- RequirementID {{ requirement.requirementID.requirementID }} -</p>
        </div>
    </div>
</div>
{% endblock content %}