{% extends "base.html" %}
{% load static %}

{% block title %}
    ReqGen - Chatbot based on GPT-3.5-Turbo
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "GPTCommunication/reqgen.css" %}">
{% endblock css_files %}

{% block content %}
{% if NoFileNoReq %}
<div id="ErrorMessage">
    <div id="BorderAreaError">
        <div id="IconArea">
            <img src="{% static "images/Error_Red.svg" %}" alt="ErrorIcon" width="20px" height="20px">
        </div>
        <p>Please upload a file first.</p>
    </div>
</div>
{% elif FileName %}
<div id="SuccessMessage">
    <div id="BorderAreaSuccess">
        <div id="IconArea">
            <img src="{% static "images/Info_Green.svg" %}" alt="ErrorIcon" width="20px" height="20px">
        </div>
        <p>The file "{{ FileName }}" was uploaded successfully.</p>
    </div>
</div>
{% elif not response %}
<div id="InfoMessage">
    <div id="BorderAreaInfo">
        <div id="IconArea">
            <img src="{% static "images/Info_Yellow.svg" %}" alt="ErrorIcon" width="20px" height="20px">
        </div>
        <p>The bot only accepts .txt files</p>
    </div>
</div>
{% endif %}
<div id="UploadGenerateArea">
    <form id="upload_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Input</h3>
        {% comment %} <div id="FileTypeMessage">
            <p>The bot only accepts .txt files</p>
        </div> {% endcomment %}
        <div class="upload_area">
            <input type="file" name="file" id="uploadFile" accept=".txt" hidden/>
            <label id="upload_label" for="uploadFile">Click to choose a file</label>
        </div>
        <div id="upload_div">
            <button type="submit" name="upload_form" id="upload_button">Upload</button>
        </div>
    </form>
    <form id="interaction_form" method="post">
        {% csrf_token %}
        {% comment %} {% if requirementsGen %}
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Immediately show the loading animation
            document.getElementById('LoadingIcon').style.display = 'flex';
            checkDivContent();
        });
        </script>
        {% endif %}
        <div id="LoadingIcon">
            <p>LOADING</p>
        </div> {% endcomment %}
        <div class="button_area">
            <button type="submit" id="submit_button" name="interaction_form">Create requirements list</button>
        </div>
    </form>
</div>
<div class="output_area">
    <div id="output_gpt">
        <h3>Output</h3>
    </div>
</div>
<div id="output_text">
    {% if response %}
        <p id="response">
            {{ response|safe|linebreaksbr }}
        </p>
        <br>
    {% else %}
        <p id="response">No new requirements to display.</p>
    {% endif %}
</div>
<div id="ManageRequirementsArea">
    <button id="ManageRequirements" onclick="location.href='{% url "Requirements"%}';">Manage requirements</button>
</div>
<script>
    document.getElementById('uploadFile').addEventListener('change', function() {
        // Check if a file was selected
        if (this.files.length > 0) {
            // Simulate a click on the submit button
            document.getElementById('upload_button').click();
        }
    });

    {% comment %} function checkDivContent() {
        var checkInterval = setInterval(function() {
            var contentDiv = document.getElementById('response').textContent;
            
            // Assuming you're waiting for the content to change from its initial state
            if(contentDiv !== "No new requirements to display.") {
                document.getElementById('LoadingIcon').style.display = 'none';
                clearInterval(checkInterval);
            }
        }, 1000); // Check every 1000 milliseconds (1 second)
    } {% endcomment %}
</script>
{% endblock content %}

