{% extends "base.html" %}
{% load static %}

{% block title %}
    ReqGen - Chatbot based on GPT-3.5-Turbo
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "GPTCommunication/reqgen.css" %}">
{% endblock css_files %}

{% block content %}
<div id="ToolIntroArea1">
    <div class="ToolIntro">
        <p id="Bigger">The RequirementsBot </p>
        <p id="Normal"> supports your requirements elicitation and description activities in an agile setting based on your input data.</p>
    </div>
</div>
<div id="ToolFunctionalities">
    <div id="ToolIntroArea2">
        <div class="ToolIntro2">
            <p>Create your user storys</p><br>
            <ul id="BotSteps">
                <li>Choose your file,</li>
                <li>Create requirements list,</li>
                <li>See requirements and</li>
                <li>Manage in detail.</li>
            </ul>
        </div>
</div>
    <div id="Layout">
        {% if NoFileNoReq %}
        <div id="ErrorMessage">
            <div id="BorderAreaError">
                <div id="IconArea">
                    <img src="{% static "images/Error_Red.svg" %}" alt="ErrorIcon" width="20px" height="20px">
                </div>
                <p>Please upload a file first.</p>
            </div>
        </div>
        {% elif FileName %}
        <div id="SuccessMessage">
            <div id="BorderAreaSuccess">
                <div id="IconArea">
                    <img src="{% static "images/Info_Green.svg" %}" alt="ErrorIcon" width="20px" height="20px">
                </div>
                <p>"{{ FileName }}" was uploaded.</p>
            </div>
        </div>
        {% elif not response %}
        <div id="InfoMessage">
            <div id="BorderAreaInfo">
                <div id="IconArea">
                    <img src="{% static "images/Info_Yellow.svg" %}" alt="ErrorIcon" width="20px" height="20px">
                </div>
                <p>The bot only accepts .txt files</p>
            </div>
        </div>
        {% endif %}
        {% if not NoFileNoReq %}
            <div id="LoadingIcon">
                <div class="loader"></div>
            </div>
            <div id="LoadingText"><p>Please wait</p></div>
        {% endif %}
        <div id="UploadGenerateArea">
            {% if not response %}
            <form id="upload_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Input</h3>
                <div class="upload_area">
                    <input type="file" name="file" id="uploadFile" accept=".txt" hidden/>
                    <label id="upload_label" for="uploadFile">Click to choose a file</label>
                </div>
                <div id="upload_div">
                    <button type="submit" name="upload_form" id="upload_button">Upload</button>
                </div>
            </form>
            <form id="interForm" class="interaction_form" method="post">
                {% csrf_token %}
                <div class="button_area">
                    <button type="submit" class="submit_button" name="interaction_form">
                        Create requirements list
                    </button>
                </div>
            </form>
            {% endif %}
        </div>
        <div id="OutputDisplay">
            <div id="outArea" class="output_area">
                <div id="output_gpt">
                    <h3>Output</h3>
                </div>
            </div>
            <div id="output_text">
                {% if response %}
                    <p id="response">
                        {{ response|safe|linebreaksbr }}
                    </p>
                    <br>
                {% else %}
                    <p id="response">No new requirements to display.</p>
                {% endif %}
            </div>
            <div id="ManageRequirementsArea">
                <button id="ManageRequirements" onclick="location.href='{% url "Requirements"%}';">Manage requirements</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('uploadFile').addEventListener('change', function() {
        // Check if a file was selected
        if (this.files.length > 0) {
            // Simulate a click on the submit button
            document.getElementById('upload_button').click();
        }
    });
</script>
{% if not NoFileNoReq %}
<script>
    document.querySelector('.interaction_form').addEventListener('submit', function() {

        document.getElementById('LoadingIcon').style.display = 'flex';
        document.getElementById('LoadingText').style.display = 'flex';

        document.getElementById('UploadGenerateArea').style.visibility = 'hidden';
        document.getElementById('OutputDisplay').style.visibility = 'hidden';
        document.getElementById('SuccessMessage').style.visibility = 'hidden';

    });
</script>
{% endif %}
{% endblock content %}

