{% extends "base.html" %}
{% load static %}

{% block title %}
    ReqGen - Chatbot based on GPT-3.5
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "GPTCommunication/reqgen.css" %}">
{% endblock css_files %}

{% block content %}
<div id="UploadGenerateArea">
    <form id="upload_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Uploading:</h3>
        <div class="upload_area">
            <input type="file" name="file" id="uploadFile" hidden/>
            <label id="upload_label" for="uploadFile">Click to choose a file</label>
        </div>
        <div id="upload_div">
            <button type="submit" name="upload_form" id="upload_button">Upload</button>
        </div>
    </form>
    <form id="interaction_form" method="post">
        {% csrf_token %}
        <h3>Generating:</h3>
        <div class="button_area">
            <button type="submit" id="submit_button" name="interaction_form" onclick="blinkButton()">Create requirements list</button>
        </div>
    </form>
</div>
<div class="output_area">
    <div id="output_gpt">
        <h3>Output:</h3>
    </div>
</div>
<div id="output_text">
    {% if response %}
        <p id="response">
            {{ response|safe|linebreaksbr }}
        </p>
        <br>
    {% else %}
        {% if NoFileNoReq %}
        <p id="responseTwo">Please upload a file first.</p>
        {% elif NoFile %}
        <p id="responseTwo">Please choose a file to upload.</p>
        {% elif FileUploaded %}
        <p id="responseThree">File was uploaded successfully.</p>
        {% else %}
        <p id="response">No requirements were generated currently.</p>
        {% endif %}
    {% endif %}
</div>
<div id="ManageRequirementsArea">
    <button id="ManageRequirements" onclick="location.href='{% url "Requirements"%}';">Manage requirements</button>
</div>
<script>
    document.getElementById("submit_button").addEventListener("click", function() {
        let button = this;
        let isHidden = false;
    
        // Interval to toggle the class for blinking effect every 500ms
        let blinkInterval = setInterval(function() {
            if (isHidden) {
                button.classList.remove("hidden");
                isHidden = false;
            } else {
                button.classList.add("hidden");
                isHidden = true;
            }
        }, 500); // Adjust time for faster/slower blinking
    
        // Stop blinking after 5 seconds
        setTimeout(function() {
            clearInterval(blinkInterval);
            button.classList.remove("hidden"); // Ensure the button is visible after stopping
        }, 5000); // Adjust time for longer/shorter display
    });
</script>
{% endblock content %}
