{% extends "base.html" %}
{% load static %}

{% comment %} 
Template of the requirements list, which displays the different requirements that were generated.
{% endcomment %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "GPTCommunication/requirements.css" %}">
{% endblock css_files %}

{% block title %}
    Generated requirements
{% endblock title %}

{% block content %}
<div id="Layout">
    <div id="BackButtonArea">
        <button id="BackButton" onclick="location.href='{% url "ReqGen"%}';">Back</button>
    </div>
    {% if requirements %}
    <div id="SuccessMessage">
        <div id="BorderAreaSuccess">
            <div id="IconArea">
                <img src="{% static "images/Info_Green.svg" %}" alt="ErrorIcon" width="20px" height="20px">
            </div>
            <p>{{ requirementsCount }} requirements were generated below.</p>
        </div>
    </div>
    <div class="RequirementsArea">
        <div class="RequirementsList">
            {% for requirement in requirements %}
            <div class="Requirements">
                <div class="RequirementElement">
                    <div id="RequirementDescription" >
                        <h3 id="RequirementName">{{requirement.requirementID}}) {{requirement.requirementName }}</h3>
                        <p>{{ requirement.requirementDescription }}</p>
                    </div>
                    <div class="ButtonArea">
                        <div class="DetailButtonArea">
                            <button class="DetailButton" onclick="location.href='{% url "RequirementDetail" requirement.requirementID %}';">Open</button>
                        </div>
                        <div class="DeleteButtonArea">
                            <button class="DeleteButton" onclick="location.href='{% url "ConfDelete" requirement.requirementID %}';">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div id="InfoMessage">
        <div id="BorderAreaInfo">
            <div id="IconArea">
                <img src="{% static "images/Info_Yellow.svg" %}" alt="ErrorIcon" width="20px" height="20px">
            </div>
            <p>Please upload a file first.</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

