{% load static %}

{% comment %} 
This is the base template, from which the other html templates should inherit basic structure and elements. 
{% endcomment %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} 
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "style.css" %}">
        {% block css_files %} 
        {% endblock css_files %}
</head>
<body>
    {% include "./includes/header.html" %}
    <main class="main_content">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>